# So, perhaps "all LF by default" would finally convince it to forget about CRLFs:
* text=auto eol=lf

# These are redundant now:
#*.sh	eol=LF
#*.cfg	eol=LF
# The main frontend commands don't have the .sh extension!
#run	eol=LF

# This must come after "run" to override for run.cmd!
*.cmd	eol=CRLF
*.ps1	eol=CRLF
