name: test

on:
  workflow_dispatch:
  push:
    branches: [ main ]
#  pull_request:
#    branches: [ main ]

permissions:
  contents: read

jobs:

  regtest-windows-msvc:
    runs-on: windows-latest
    env:
      SPACE_DEBUG: 1
    
    steps:
    - name: Checkout...
      uses: actions/checkout@v3

    - name: Setup MSVC/CLI...
      uses: ilammy/msvc-dev-cmd@v1.12.0

    - name: Run the regression tests...
      shell: cmd
      run: test\run


  regtest-linux-gcc:
    runs-on: ubuntu-latest
    env:
      SPACE_DEBUG: 1

    steps:
    - name: Checkout...
      uses: actions/checkout@v3

    - name: Run the regression tests...
      run: test/run
